.shopName{
    z-index: 100;
    display: inline-flex;
    position: absolute;
}
.logoutbtn{
    margin: 10px !important;
    padding: 5px;
    border-radius: 5px;
    background-color: aqua;
    color: white;
    margin-bottom: 15px;
}